<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKS__ADO.Net_CNPM.Properties.Settings.CSDL_KHACHSANConnectionString" connectionString="Data Source=DESKTOP-UPQ3LBB\NHAI;Initial Catalog=CSDL_KHACHSAN;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
